<header >
    <div class="container">
        <div class="d3">
            <div class="container">
                <nav class="in">
                    <a href="#"><img src="https://preview.colorlib.com/theme/cozastore/images/icons/logo-01.png.webp" style="height: 65%;margin-right: 55px;display: flex;align-items: center;"  alt=""></a>
                    <div>
                        <ul class="row main-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Add Product</a></li>
                            <li><a href="#">My product</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="/user/signup">Sign up</a></li>
                            <li><a href="/user/login">Log in</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>