<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozastore - Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
        <%- include('nav')%>
        <%- include('l-section')%>
        <div class="box">
            <div class="in-box">
                <form action="/user/signup" method="post"  >
                    <input type="text" name="username" placeholder="Enter Username"><br>
                    <input type="text" name="email" placeholder="Your Email Address"><br>
                    <input type="text" name="password" placeholder="Enter Password"><br>
                    <select name="role" id="">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select><br>
                    <button type="submit" id="user-btn">Sign Up</button>
                </form>
            </div>
        </div>
</body>
</html>